.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}

.invoice-container {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  /* align-items: center;
  justify-content: center; */
  padding: 10px;
  border: 1px solid #fff;
  color: #fff;
  
}

button {
  padding: 8px 16px;
  background-color:#61dafb;
  outline: none;
  border: none;
  margin-top: 15px;
  color: #282c34;
}

button:hover{
  color: #61dafb;
  background-color:#282c34;}

.flex {
  display: flex;
}

.flex-1 {
  display: flex;
  flex: 1;
}

.App-link {
  color: #61dafb;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container div {
  margin-bottom: 10px;
}

.required:after {
  content:" *";
  color: red;
}

label {
  font-size: 16px;
}

input {
  background-color: #ccc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
